<%- include('partials/header') %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blood bank management system</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Ranchers&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous"> 
 </head>
 <body style="background-color: gray;">
     <div class="container">

     <div class="container">
     <div class="container" width="500">
    <i class='fa fa-book' style="color: red;">Eligibility Requirements</i>
    <p>Any adult,both male and female,can donate blood.Men can donate safely once in every three months while women can donate every four months</p>
    </div>
    <div class="container">
        <i class='fa fa-retweet'style="color: red;">Donation Process</i>
        <p>Donor fills up the registration form and gives his consent for donation</p>
        <p>Donor's medical history and life style is asked ,check up of temperature,blood pressure,pulse and haemoglobin</p>
    </div>
    </div></div>
    <%- include('partials/footer') %>
    
</body>
</html>