<%- include('partials/header') %>
<!DOCTYPE html>
<html>
    <head>
        <title>Acceptor Page</title>
    </head>
    <body>
        <form action="/acceptor" method="post">
            <div class="container" style="width:500px;background-image: url('/images/cropped-banner2.jpg');background-size: cover;">
                <% if(message.length>0) { %>
                    <div class="alert alert-danger col-sm-12"><%= message %></div>
                  <% }%>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" placeholder="Fill your email" required name="a_email" value=""> 
                </div>
                <div class="form-group">
                    <label>Blood group</label>
                    <input class="form-control" type="text" placeholder="Fill required blood group here" required name="a_group" value=""> 
                </div>
                <div class="form-group">
                    <label>Temperature</label>
                    <input class="form-control" type="text" placeholder="Fill your temperature here" required name="a_temp" value=""> 
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" >SUbmit</button>
                </div>

            </div>
            </form>
            <%- include('partials/footer') %>
    </body>
</html>