<%- include('partials/header') %>
<!DOCTYPE html>
<html>
    <head>
    <title>Choice selection</title>
    </head>
  
    <body>
        <div class="container" style="text-align: center; margin-top: 10%;">
            
           
            <br>
            <button class="btn btn-primary" action="/donor" style="text-align: center;"><a href="/donor" style="color: black; text-decoration: none;"> as donor</a></button><br><br>
            <button class="btn btn-primary" action="/acceptor" style="text-align: center;"><a href="/acceptor" style="color: black; text-decoration: none;">As an acceptor</a></button>
        </div>
    </body>
</html>