<%- include('partials/header') %>
<!DOCTYPE html>
<html>
<head>
	<title>Review</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Galada&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Galada&family=Hind+Siliguri&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background-image: url('/images/Lovepik_com-605640353-Blood\ donation\ background\ poster.jpg');background-size: cover;">


  </div>
</nav>
	<div class="container" style="width: 500px;">
        <% if(message.length>0) { %>
            <div class="alert alert-danger col-sm-12"><%= message %></div>
          <% }%>
		<form action="/feedback" method="post">
			<div class="container" style="width: 500px;">
        	<label>Name</label><br>
			<input type="text" name="name"placeholder="Optional" class="form-control"><br><hr>
			</div>
			<div class="container" style="width: 500px">
        	<label>Review</label><br>
			<textarea name="review" Placeholder="Type your Feedback" required="This is mandatory" rows="8" cols="40" class="form-control"></textarea><br><hr>
			</div>
        	<button type="button" type="submit" action="/feedback"class="btn btn-success" onclick="submit()">submit</button>
        </form>
    </div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
  function myFunction(){
    console.log("Succesfully posted your review");
  }
</script>
</body>
</html>
<%- include('partials/footer') %>